body {
    width: 80px;
    height: 80px;
}

.size-selector {
    cursor: pointer;
    transition: background-color 0.5s;
    border-radius: 5px;
}

.size-selector:hover {
    background-color: rgba(200, 200, 200, 0.69);
}

#top {
    margin-bottom: 4px;
    width: 70px;
}

#bottom {
    width: 50px;
}

label img {
    cursor: pointer;
    vertical-align: middle;
}
